.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: rgba(255, 255, 255, 0.18);
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.35);
}
